*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-container
  {
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 0 10px silver;
  }

